.container{
    display: flex;

}
.container image{
    width: 50%;
}
.container div{
    width: 50%;
}
.heroText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.account{
    display: flex;
    gap: 200px;
}
.formStyle{
    justify-content: center;
}
.flex{
    justify-content: center;
    align-items: center;
}
.flex Icon{
    width: 10px;
}